
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/talks">Talks</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:paula.harder@itwm.fraunhofer.de">email</a></li>
	        		<li><a href="https://github.com/paulaharder">github.com/paulaharder</a></li>
	        		<li><a href="https://www.linkedin.com/in/paulaharder/">linkedin.com/in/paulaharder</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=uKf5VoIAAAAJ&hl=de">google scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>