
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/talks">Talks</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:paula.harder@itwm.fraunhofer.de"><img src="/images/email_icon.png" width=20></a></li>
	        		<li><a href="https://github.com/paulaharder"><img src="/images/github_icon.png" width=20></a></li>
	        		<li><a href="https://www.linkedin.com/in/paulaharder/"><img src="/images/linkedin_icon.png" width=20></a></li>
	        		<li><a href="https://scholar.google.com/citations?user=uKf5VoIAAAAJ&hl=de"><img src="/images/scholar_icon.png" width=20></a></li>
	        		<li><a href="https://twitter.com/PaulaHarder8"><img src="/images/twitter_icon.png" width=20></a></li>
				</ul>
			</footer>
		</body>
	</html>